:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #18191a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  min-width: 320px;
}

h1 {
  color: #ffe600;
  font-size: 3.2em;
  transition: color 0.25s;
}

h1:hover {
  color: #ffffffe0;
}

p {
  transition: color 0.25s;
}

p:hover {
  color: #ffe600;
}

ul {
  margin: auto;
  padding: 0;
  list-style-type: none;
}

#app {
  flex: 1;
  margin: 2rem;
  padding: 2rem;
  max-width: 1280px;
  border: 2px solid #2a2c2e;
  border-radius: 12px;
  background-color: #242526;
}

#add-task-form {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#task-input {
  padding: 1rem 2rem;
  font-size: large;
  outline: nones;
  border: 2px solid #2a2c2e;
  border-radius: 2px;
  background-color: rgb(41, 41, 41);
  transition: border-color 0.25s;
}

#task-input:hover{
  border: 2px solid #37383a;
}

/* #checkBox {
  padding-right: 1em;
  border: none;
  border-radius: 12px;
o  background-color: #ff3434;
  color: #ffffff;
  transition: background-color 0.25s
} */

#deleteButton {
  border: none;
  border-radius: 12px;
  background-color: #ff3434;
  color: #ffffff;
  transition: background-color 0.25s
}

#deleteButton:hover {
  background-color: #ff6a6a;
}

.task-item {
  align-items: center;
  background-color: #ffffffce;
  color: #18191a;
  max-width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 12px;
  word-break: break-all;
  margin-bottom: 1em;
  scale: 1;
  transition-duration: 0.25s;
  filter: drop-shadow(0 0 2em black)
}

.task-item:hover {
  cursor: pointer;
  margin-bottom: 2em;
  scale: 1.05;
}

.task-item.is-complete {
  background-color: #6ff774;
}

button {
  min-width: 8em;
  border: 1px solid #3a3b3c;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 700;
  background-color: #242526;
  color: #9a9ea1;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
}

button:hover {
  background-color: #37383a;
}
button:focus,
button:focus-visible {
  border-color: #9a9ea1;;
  background-color: #47484b;
}
